:root {
    --dark-bg: #2d2d30
}

body {
    margin: 0px;
    background-color: var(--dark-bg);
}

.input_box {
    background-color: #3a393e;
    margin: 5px;
    padding: 5px;
    box-shadow: 1px 1px 4px black;
    border-radius: 3px;
}

.input_box button {
    height: 35px;
}

#input_box_buttons {
    height: 40px;
}

#top_bar {
    background-color: #1aa3e8;
    color: black;
    width: 100%;
    padding: 10px;
    margin: 0px;
    height: 70px;
    font-size: 25px;
    box-sizing: border-box;
}

#top_bar div {
    float: left;
    margin: 5px;
    background: #106590;
    color: white;
    height: calc(100% - 10px);
    padding: 5px;
    border-radius: 2px;
    width: 300px;
    margin-top: 0px;
}

#top_bar button {
    height: 100%;
}

#open_file_button {
    font-size: 20px;
}

#save_file_button {
    float: right;
    height: 100%;
    aspect-ratio: 1;
}

#main_view { }

#tool_menu {
    background-color: var(--dark-bg);
    color: white;
    width: 30%;
    height: calc(100vh - 80px);
    margin: 0 auto;
    float: right;
    padding: 5px;
    overflow: scroll;
}

#game_info_view {
    background-color: var(--dark-bg);
    color: white;
    margin: 0 auto;
    padding: 5px;
}


#table_mods {
    border-collapse: collapse;
    margin-top: 5px;
    background: #212124;
}

#table_mods tr td {
    border: thin solid black;
    padding: 7px;
    text-align: center;
}

.table_remove {
    background-color: #751707;
    border: 2px solid #470f05;
    color: white;
    aspect-ratio: 1;
}

canvas {
    float: left;
}

#selected_UUID, #input_mod_localId {
    font: 100% Lucida Console, monospace;
}

#info_selected_text {
    font-size: 23px;
    font-weight: bold;
}

#button_delete {
    float: right;
    background-color: #751707;
    border: 2px solid #470f05;
    color: white;
}

#button_delete:hover, .table_remove:hover {
    background-color: #851b09;
}

#button_delete:active, .table_remove:active {
    background-color: #521005;
}

.link_alterantive_1 {
    color: deepskyblue;
}

.link_alterantive_1:visited {
    color: violet;
}
