body {
    margin: 0px;
}

.input_box {
    background-color: #3a393e;
    margin: 5px;
    padding: 5px;
    box-shadow: 1px 1px 4px black;
    border-radius: 3px;
}

.input_box button {
    height: 35px;
}

#input_box_buttons {
    height: 40px;
}

#top_bar {
    background-color: #1aa3e8;
    color: black;
    width: 100%;
    padding: 10px;
    margin: 0px;
    height: 70px;
    font-size: 25px;
    box-sizing: border-box;
}

#top_bar div {
    float: left;
    margin: 5px;
    background: #106590;
    color: white;
    height: calc(100% - 10px);
    padding: 5px;
    border-radius: 2px;
    width: 300px;
    margin-top: 0px;
}

#open_file_button {
    font-size: 20px;
}

#save_file_button {
    float: right;
    height: 100%;
    aspect-ratio: 1;
}

#main_view { }

#tool_menu {
    background-color: #2d2d30;
    color: white;
    width: 30%;
    height: calc(100vh - 80px);
    margin: 0 auto;
    float: right;
    padding: 5px;
}

canvas {
    float: left;
}

#selected_UUID {
    font: 100% Lucida Console, monospace;
}

#info_selected_text {
    font-size: 23px;
    font-weight: bold;
}

#button_delete {
    float: right;
    background-color: #751707;
    border: 2px solid #470f05;
    color: white;
}

#button_delete:hover {
    background-color: #851b09;
}

#button_delete:active {
    background-color: #521005;
}
